Package: vlab-sobol4
Version: 2.1
Section: admin
Priority: optional
Architecture: amd64
Maintainer: КБ "НАВИС" <support@navis.ru>, Sergey Maksimov <m6v@mail.ru>
Depends: python3-pyside2.qtwidgets, python3-pyside2.qtuitools
Description: Имитатор ПАК "Соболь" версия 4
