[Desktop Entry]
Categoties=Application;System;
Exec=/opt/sodol4emu/src/ibutton2dbus.py
Hidden=false
Icon[ru_RU]=/opt/sodol4emu/img/ibutton.png
Icon=/opt/sodol4emu/img/ibutton.png
Name[ru_RU]=Имитатор iButtons
Name=Имитатор iButtons
NoDisplay=false
Path=/opt/sodol4emu/src/
StartupNotify=false
Terminal=false
Type=Application
