[Desktop Entry]
Name=Имитатор считывателя iButton
Type=Application
NoDisplay=false
Exec=/home/m6v/Workspace/sobol/ibutton2dbus.py
Icon=/home/m6v/Workspace/sobol/icons/ibutton.png
Hidden=false
Path=/home/m6v/Workspace/sobol/
Terminal=false
StartupNotify=false
